<h2>New House <%= @house.name %> Member Form</h2>
<h3>Add A Member</h3>
<%= form_for [@house, @member] do |f| %>
  <%= f.label :first_name, 'First Name' %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name, 'Last Name' %>
  <%= f.text_field :last_name %>

  <%= f.submit "Add Member" %>
<% end %>
